.survey-status {
  ion-badge {
    text-transform: uppercase;
  }
}

ion-button.survey-status-upload {
  margin-left: 20px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-end: 15px;
  --padding-start: 15px;
  height: fit-content;
}

ion-spinner.survey-status {
  width: 15px;
}
