#user-register {
  ion-list,
  ion-item {
    --background: transparent;
    background: transparent;
  }

  ion-content {
    --padding-top: 30px;

    ion-icon {
      color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);
    }

    h1 {
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .terms-info-text {
      display: block;
      padding: 20px 20px 10px;
      text-align: center;
      font-size: 0.85em;
      color: var(--ion-color-dark);
    }

    ion-button[type='submit'] {
      margin-bottom: 60px;
    }

    .signin-button {
      font-size: 0.85em;
      text-align: center;
    }
  }
}
