#comparison {
  --background: var(--ion-page-light) !important;
  --padding-top: env(safe-area-inset-top) !important;

  ion-list {
    &:nth-child(even) {
      background: var(--ion-page-background) !important;
    }
  }

  .apps-section-h {
    font-size: 1.3em;
    --padding-start: 20px;
    --padding-end: 20px;
    margin-top: 10px;
    --background: transparent;
  }

  ion-title {
    margin: 15px 0 15px 0;
    color: var(--color-primary);
    font-size: 2em;
    text-align: center;
  }

  img {
    border-radius: 15px;
  }

  h5 {
    margin: 15px 0;
    height: 2em;
    color: var(--color-primary-600);
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
  }
}
