#comparison {
  --background: var(--ion-page-light) !important;

  .apps-section-h {
    font-size: 1.3em;
    --padding-start: 0;
  }

  ion-title {
    text-align: center;
    margin: 15px 0 15px 0;
    font-size: 2em;
  }

  img {
    border-radius: 15px;
  }

  h5 {
    text-align: left;
    margin: 15px 0;
    font-size: 1.2em;
    color: var(--ion-color-primary);
    font-weight: 400;
  }

  .message {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 0.9em;
    margin-top: 15px;
  }
}
