#menu {
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  img {
    margin: 0 auto;
    display: block;
  }

  ion-footer {
    div {
      text-align: center;
    }

    p {
      margin-top: 10px;
      margin-bottom: 40px;
      opacity: 0.6;
      font-weight: normal;
    }

    img {
      width: 30%;
    }
  }
}
