#menu {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  h1 {
    text-align: center;
    margin: 20px 0;
  }
  img {
    margin: 0 auto;
    display: block;
  }

  div {
    text-align: center;
  }

  p {
    margin-top: 10px;
    margin-bottom: 40px;
    opacity: 0.6;
    font-weight: normal;
  }

  img {
    width: 30%;
  }

  .verification-warning {
    ion-note {
      font-size: 1em;
    }

    ion-button {
      font-size: 0.9em;
      &.md {
        font-size: 0.7em;
      }
      float: right;
      color: var(--ion-color-primary-shade);
      --border-color: var(--ion-color-primary-shade);
    }
  }
}
