ion-tab-bar {
  --color-selected: var(--ion-color-primary);
  padding-bottom: var(--ion-safe-area-bottom, 0);
  --background: var(--ion-color-primary);

  ion-tab-button {
    ion-icon,
    ion-label {
      color: white;
    }

    &.tab-selected {
      ion-icon,
      ion-label {
        color: var(--color-secondary-200) !important;
        --ion-color-base: var(--color-secondary-200) !important;
      }
    }
  }
}
