#survey-home {
  ion-header ion-toolbar {
    ion-button {
      background: var(--ion-color-secondary);
      border-radius: 10px;
      padding: 0 10px;
    }
  }

  .info-message.warning {
    --background: #fff698 !important;

    ion-icon {
      fill: #2f2c06 !important;
    }

    ion-icon,
    ion-note {
      color: #2f2c06 !important;
    }
  }

  .training-subheader {
    background: var(--ion-color-dark);
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 0.9em;
  }
}
