@import "../../common/styles/_variables";

.progress {
  display: block;
  height: 24px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  text-align: center;

  background-color: rgba(10,10,10,0.3);

  .circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: rgba(255,255,255,.25);
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
  }

  .circle-full {
    background: $button-color;
  }
}

