@import "../../common/styles/_variables";
@import "./gallery";

#species-account-header {
 .pull-right {
   width: 45%;

   #favourite-btn.icon-star:before {
     color: $color-yellow;
   }
 }
}

#species-info {
  .common-name {
    font-size: large;
    font-weight: bold;
    margin: 1.5% 0;
  }
}

#species-account-header h1.title {
  width: 90%;
  font-style: italic;
  margin: 0 10% 0 5%;
}

#species-info .taxon {
  display: none !important;
}

@media only screen and (max-width: 450px) {
  #species-account-header h1.title {
    display: none !important;
  }
  #species-info .taxon {
    font-style: italic;
    display: block !important;
  }
}

/* Gallery */
.gallery {
  position: relative;
  margin: 0 -2%;
  overflow: hidden;

  .images {
    height: 60vw;
    max-height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #3C3C3C;

    .img {
      float: left;
      background-color: white;

      &.photo{
        height: 100%;
        background: center no-repeat;
        background-size: cover;
      }

      .illustration {
        display: block;
        margin: 0 auto;
        height: 60vw;
      }
    }
  }
}

#species-description {
  word-break: break-word;
}


/* Species Map */
#species-map {
  width: 100%;
}

// photoswipe caption to right
.pswp__caption__center {
  text-align: right;
  max-width: none;
}