@import './roundedTheme.scss';

:root {
  --ion-color-primary: #424733;
  --ion-color-primary-rgb: 66, 71, 51;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a3e2d;
  --ion-color-primary-tint: #555947;

  --ion-color-secondary: #d66800;
  --ion-color-secondary-rgb: 209, 116, 30;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #b8661a;
  --ion-color-secondary-tint: #d68235;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #e1672d;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #a76629;
  --ion-color-warning-tint: #f18a29;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #1f2722;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #121413;
  --ion-color-dark-tint: #153522;

  --ion-color-medium: #646e68;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #505854;
  --ion-color-medium-tint: #96a09a;

  --ion-color-light: #fcfcfc;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: var(--ion-color-dark);
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-page-background: #f8f7f4;
}

h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

.ios,
.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

.apps-section .apps-section-h {
  margin: 20px auto 10px;
  color: var(--ion-color-primary);
}

.menu-attr-item ion-icon {
  --ionicon-stroke-width: 20px;
}

.attr-page .info-message {
  --background: #e3f1ba; // primary based

  ion-icon,
  ion-note {
    color: var(--ion-color-primary-shade) !important;
  }
}

.md ion-header ion-title:not(:last-child) {
  padding: 0 10px; // header title to use the available space more effitiently
}

.info-background-message ion-button {
  margin-left: 10px;

  color: var(--ion-color-medium);
  --border-color: var(--ion-color-medium);
}

ion-router-link,
a {
  text-decoration: none;
  color: rgb(17, 128, 197);
}

html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

ion-item-divider {
  border: 0;
}

ul {
  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

input[type='email'] {
  background: var(--ion-page-background);
}
input[type='password'] {
  background: var(--ion-page-background);
}
input[type='text'] {
  background: var(--ion-page-background);
}

ion-button[type='submit'] {
  max-width: 50%;

  margin: 20px auto 60px auto;
}

ion-alert {
  ion-list,
  ion-item {
    background: none;
    --background: none;
  }
}

.leaflet-control-zoom {
  display: none;
}

ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 15px;
}

ion-textarea {
  background: var(--ion-color-light) !important;
  padding: 0 10px;
}

*:not(.rounded) > .info-message {
  border-radius: 10px;
  margin: 10px;
}

ion-radio-group ion-item {
  --border-style: none;
  border-radius: 15px;
  margin: 10px;
}

.photo-picker {
  --inner-padding-end: 0;

  #img-picker-array .img {
    margin-right: 5px;
    .delete {
      background-color: #80808085;
    }
  }

  #img-picker-array .img-picker {
    border-right: none;

    ion-button {
      background: var(--ion-color-primary-tint);
      margin: 5px;
      height: calc(80px - 10px);
      width: calc(80px - 10px);
      border-radius: 15px;
      transform: none;

      ion-icon {
        fill: var(--ion-color-light);
      }
    }
  }
}

#date-time-modal {
  --background: #4040406b;

  #ion-react-wrapper {
    justify-content: center;
    align-items: center;
  }
}

.menu-attr-item ion-label[slot='end'] {
  max-width: 40%;
}

.info-message {
  --background: #e3f1ba;

  ion-icon,
  ion-note {
    color: var(--ion-color-primary-shade) !important;
  }
}

.swiper-pagination {
  background: transparent;

  .swiper-pagination-bullet-active {
    opacity: 0.8;
    background: var(--ion-color-secondary);
  }
}

.model-location-map {
  .leaflet-top.leaflet-right {
    .leaflet-control {
      &:first-of-type {
        border: transparent !important;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) !important;
      }
    }
  }
}

.alert-message {
  text-align: left !important;
  font-size: 1em !important;

  ion-item {
    --background: transparent;
  }
}

html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}
