#home-info {
  ion-content {
    .app-home-background {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: 71%;

      .app-home-background-contrast {
        width: 100%;
        background: rgba(var(--ion-color-primary-rgb), 0.9);
        display: flex;
        justify-content: center;

        .app-logo {
          margin: 5% 0;
          padding: 5%;
          max-width: 80%;
        }
      }

      h2 {
        width: 100%;
        padding: 28px;
        margin: 0;
        font-size: 1.2em;
        color: white;
        font-weight: 300;
        background: rgba(var(--ion-color-primary-rgb), 0.7);
      }

      ion-item-group {
        position: absolute;
        top: 81%;
        transform: translateY(-90%);
        width: 100%;

        font-size: 1.1em;

        .pretty-button {
          left: 50%;
          transform: translateX(-50%);
          top: 50%;
          width: 90%;
          text-align: center;
          margin-bottom: 10px;
          --inner-border-width: 0;
          --border-radius: 40px;
          border-radius: 40px;
          --background: var(--ion-page-background);
          --color: var(--ion-color-primary);
          --color-activated: var(--ion-color-primary);
          box-shadow: 0 0 5px var(--ion-color-secondary-tint);
          font-weight: 500;
          font-size: 1.2em;

          ion-label {
            text-align: center;
            width: 100%;
            padding: 4px;
            letter-spacing: 1px;
            font-weight: 400;
          }
        }
      }
    }

    ion-item.item-disabled {
      opacity: 0.7;
    }
  }
}
