.survey-list-item {
  border-radius: 10px;
  background: white;
  --border-style: none;
  margin: 6px auto;
  max-width: 600px; // ipad

  ion-item {
    --padding-start: 0;
    --border-style: none;
    --border-radius: 10px;

    .location-name,
    .species-name {
      display: block !important; // for ellipses
      font-weight: 500;
    }

    ion-label {
      margin-left: 5px;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
    }

    .location-warning {
      margin-bottom: 5px;
      font-size: 0.8em;
      font-weight: normal;
      width: -webkit-fit-content;
      width: fit-content;
      background-color: #d888441f;
      color: var(--ion-color-warning);
    }

    .badge-wrapper {
      display: flex;
      justify-content: flex-start;
      margin: 3px 0px;
      gap: 5px;

      ion-badge {
        font-size: 0.8em;
        font-weight: 400;
        background-color: var(--ion-color-medium-tint);
        color: var(--ion-color-light);
      }
    }
  }

  .count {
    margin: 10px 15px;

    .number {
      background: #edeced;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      margin: 0 auto;
    }

    .label {
      font-size: 0.6em;
      text-align: center;
    }
  }

  ion-avatar {
    width: 50px;
    height: 50px;
    background: #e7e7e738;
    margin: 5px 10px;

    ion-icon {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      padding: 10px;

      --ionicon-stroke-width: 20px;
    }
  }
}
